*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
.container{
    width: 100%;
    background-color: rgb(255, 255, 255);
    background-size: cover;
    background-position: center;
    padding: 0 0; /* set the header width */
}

nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 30px;
    padding-left: 0;
    background-color: #ffffff;
  /*  filter: drop-shadow(0.5em 0.2em 0.1em #e6e5e5a1); */
    animation: myanimation 10s infinite;
}
@keyframes myanimation {
    0% {background-color: rgb(255, 222, 255);}
    25%{background-color:rgb(255, 247, 225);}
    50%{background-color:rgb(225, 255, 229);}
    75%{background-color:rgb(255, 225, 225);}
    100% {background-color: rgb(255, 225, 240);}
  }
.logo{
    width: 180px;
    cursor: pointer;
}

nav ul{
    list-style: none;
    width: 100%;
    text-align: right;
    padding-right: 60px;
}
nav ul li{
    display: inline-block;
    margin: 10px 20px;
}
nav ul li a{
    color: rgb(66, 66, 66);
    text-decoration: none;
}
.btn{
    display: flex;
    align-items: center;
    padding: 10px 20px;
    border: 0;
    outline: 0;
    border-radius: 5px;
    background: #3b3b3b;
    color: #fff;
    font-weight: 500;
    cursor: pointer;
    animation: myanimation2 10s infinite;
}
@keyframes myanimation2 {
    0% {background-color: rgb(156, 68, 156);}
    25%{background-color:rgb(143, 105, 61);}
    50%{background-color:rgb(50, 138, 79);}
    75%{background-color:rgb(158, 66, 66);}
    100% {background-color: rgb(160, 65, 117);}
  }
.btn img{
    width: 20px;
    margin-right: 10px;
}

.innercont{
    margin: auto;
    padding-top: 10%;
    margin-left: 20%;
    margin-right: 20%;
}

.boxes{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    color: #fff;
    margin-left: 10%;
    margin-right: 10%;
    position: relative;
}
.box{
    width: 150px;
    height: 250px;
    background-color: #8a81be;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    text-align: center;
    padding: 120px 0 100px;
}

.descriptions{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    color: #fff;
    margin-left: 10%;
    margin-right: 10%;
    position: relative;
    top: -25px;
}
.desc{
    width: 150px;
    height: 50px;
    background-color: #333333;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    text-align: center;
    padding: 15px 0 ;
}
#genbtn{
    margin: auto;
    margin-top: 6%;
}
