*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    
}


.container{
    width: 100%;
    background-color: rgb(255, 255, 255);
    background-size: cover;
    background-position: center;
    padding: 0 0; /* set the header width */
    animation: bodyanimation 15s infinite;
}




nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 0;
    background-color: #ffffff;
  /*  filter: drop-shadow(0.5em 0.2em 0.1em #e6e5e5a1); */
    animation: myanimation 15s infinite;
}
@keyframes myanimation {
    0% {background-color: rgb(255, 222, 255);}
    25%{background-color:rgb(255, 247, 225);}
    50%{background-color:rgb(225, 255, 229);}
    75%{background-color:rgb(255, 225, 225);}
    100% {background-color: rgb(255, 225, 240);}
  }
.logo{
    width: 280px;
    padding-left: 8%;
    cursor: pointer;
}
.icon{
    width: 15px;
    margin-right: 10px;
}

nav ul{
    list-style: none;
    width: 100%;
    text-align: right;
    padding-right: 25px;
}
nav ul li{
    display: inline-block;
    margin: 10px 20px;
}
nav ul li a{
    color: rgb(66, 66, 66);
    text-decoration: none;
}
.btn{
    display: flex;
    align-items: center;
    padding: 10px 20px;
    border: 0;
    outline: 0;
    border-radius: 5px;
    background: #3b3b3b;
    color: #fff;
    font-weight: 500;
    cursor: pointer;
    animation: myanimation2 15s infinite;
}
@keyframes myanimation2 {
    0% {background-color: rgb(156, 68, 156);}
    25%{background-color:rgb(143, 105, 61);}
    50%{background-color:rgb(50, 138, 79);}
    75%{background-color:rgb(158, 66, 66);}
    100% {background-color: rgb(160, 65, 117);}
  }


.details{
    margin-left: 8%;
    margin-top: 15%;
    /* background-image: url("/images/wave.png");  */
    position: relative;
}
.bgwave{
  width: 100%;

}







  footer{
    background-color: #3b3b3b;
    text-align: center;
    color: #fff;
    padding: 1%;

  }
  #mail:active,#mail:visited,#mail:link{
    color: #999999;
  }
